<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hogwarts University</title>
  <!--Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu&display=swap"
    rel="stylesheet" />
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
 <link rel="stylesheet" href="css/style1.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="css/style3.css">
  <!--Font awsome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <!--Icon-->
  <link rel="icon" href="images/Web.ico" />

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers</title>
  </head>

  <body onload="myfung()">

    <div id="Loading">
  
    </div>




    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark nav" style="padding-bottom: 56px;">
      <a class="navbar-brand" href="/" style="padding-top: 0px;margin-top: 40px;margin-bottom: 0px;padding-bottom: 0px;margin-left: 230px;">
        Hogwarts University</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto">
          <ul class="navbar-nav" style="margin-top: 40px;margin-right: 230px;">
            <li class="nav-item">
               <a class="nav-link" href="Contact">Contact</a>
            </li>

            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">About</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="University">University</a></li>
                <li><a class="dropdown-item" href="Developer">Developer</a></li>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Separated link</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Login</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="Student-login">Student</a></li>
                <li><a class="dropdown-item" href="teacher-login">Teacher</a></li>
                <li><a class="dropdown-item" href="admin-login">Admin</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#">Separated link</a>
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </div>
    </nav>



<!--data-->





<div class="container-fluid" style="padding-top: 0px;">
    <section class="section-hero-dev">
      <div class="developers-heading">
        <span class="iconify developer-icon" data-icon="akar-icons:people-group"></span>
        <h1 class="hero-heading-expert">Directory of Developers</h1>
      </div>
    </section>

    <section class="devs-row-1">
      <div class="dev">
        <img class="dev-img" src="images/developer/1.png" alt="">
        <h3 class="dev-name">ABISHEK KUMAR</h3>
        <p class="dev-desc">Frontend</p>
      </div>
      <div class="dev">
        <img class="dev-img" src="images/developer/2.png" alt="">
        <h3 class="dev-name">PAVEL KUNDU</h3>
        <p class="dev-desc">Frontend</p>
      </div>
      <div class="dev">
        <img class="dev-img" src="images/developer/3.png" alt="">
        <h3 class="dev-name">RAHUL SHARMA</h3>
        <p class="dev-desc">Frontend</p>
      </div>

    </section>

    <section class="devs-row-1 row-gap">
      <div class="dev">
        <img class="dev-img" src="images/developer/4.png" alt="">
        <h3 class="dev-name">ARGHYA BAG</h3>
        <p class="dev-desc">Backend</p>
      </div>
      <div class="dev">
        <img class="dev-img" src="images/developer/5.png" alt="">
        <h3 class="dev-name">ATANU BERA</h3>
        <p class="dev-desc">Backend</p>
      </div>

    </section>
  </div>


  <footer id="footer">
  <hr>
    <p>© Copyright Hogwarts University</p>
    <p style="margin-bottom: 0px;">Hogwarts Castle, Highlands <br> Scotland, Great Britain<br>
    Helpline No. 8016976125,<br>
  (Mr. Atanu Bera)
  </p>
  </footer>
  <script>
    // $(document).ready(function(){
      // 	$('div#loading').removeAttr('id');
    // });
    var preloader = document.getElementById("Loading");
    // window.addEventListener('load', function(){
    // 	preloader.style.display = 'none';
    // 	})
    
    function myfung(){
      preloader.style.display = 'none';
    };
    </script>
    
</body>

</html>
