<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Time Table</title>

  <!--Bootstrap-->

    <link rel="stylesheet" href="css/style13.css">


  <!--boxicons-->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>


  <!--Icon-->
  <link rel="icon" href="images/Web.ico">
  </head>
  <body onload="myfung()">

  <div id="Loading">

  </div>
<!-- nav start -->

<nav>
  <div class="sidebar-top" style="
  margin-bottom: 20px;
">
    <span class="shrink-btn">
      <i class='bx bx-chevron-left'></i>
    </span>
    <img src="./images/Logo.png" class="logo" alt="">
    <h3 class="hide" style="padding-left: 0px;margin-left: 38px;" >HUMS</h3>
  </div>



  <div class="sidebar-links">
    <ul>
      <div class="#"></div>
      <li>
        <a href="Dashboard-teacher" >
          <div class="icon">
            <i class='bx bx-tachometer'></i>
            <i class='bx bxs-tachometer'></i>
          </div>
          <span class="link hide">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="Profile-teacher" >
          <div class="icon">
            <i class='bx bx-folder'></i>
            <i class='bx bxs-folder'></i>
          </div>
          <span class="link hide">Profile</span>
        </a>
      </li>
      <li>
        <a href="Grade-teacher" >
          <div class="icon">
            <i class='bx bx-bar-chart-square'></i>
            <i class='bx bxs-bar-chart-square'></i>
          </div>
          <span class="link hide">Grades</span>
        </a>
      </li>
      <li>
        <a href="Timetable-teacher"  class="active">
          <div class="icon">
            <i class='bx bx-notepad'></i>
            <i class='bx bxs-notepad'></i>
          </div>
          <span class="link hide">Time Table</span>
        </a>
      </li>


      <h4 class="hide">Teacher Care</h4>

    <ul>

      <li>
        <a href="Help-teacher">
          <div class="icon">
            <i class='bx bx-help-circle'></i>
            <i class='bx bxs-help-circle'></i>
          </div>
          <span class="link hide">Help</span>
        </a>
      </li>
      <li>
        <a href="Feedback-teacher" data-active="5">
          <div class="icon">
            <div class="icon">
              <i class='bx bx-message-square-detail'></i>
              <i class='bx bxs-message-square-detail'></i>
            </div>
          </div>
          <span class="link hide">Feedback</span>
        </a>
      </li>


  <div class="sidebar-footer">
    <a href="#" class="account tooltip-element">
      <i class='bx bx-user'></i>
    </a>
    <div class="admin-user tooltip-element" style="
    margin-top: 80px;
">
      <div class="admin-profile hide">
        <img src="./images/ppl.png" alt="">
        <div class="admin-info">
          <h3><%=Teacher.name%></h3>
          <h5>Teacher</h5>
        </div>
      </div>
      <a href="/logout" class="log-out">
        <i class='bx bx-log-out'></i>
      </a>
    </div>
  </div>
</nav>





<!--Main Start----------------------------------------------------------------------------------------------->
<main>
<h1>Time Table</h1>


<section class="ftco-section" style="padding-top: 10px;padding-bottom: 10px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="table-wrap">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
              </tr>
            </thead>

              <tbody>
              <tr>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                  <a href="#"><strong>Probability</strong> <br>
                  9 am-10 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-1.jpg);"></div>
                  <a href="#"><strong>Computer Network</strong> <br>9 am-10 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-7.jpg);"></div>
                  <a href="#"><strong>Python Lab</strong> <br>9 am-10 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-2.jpg);"></div>
                  <a href="#"><strong>Software Engineering</strong> <br>9 am-10 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-7.jpg);"></div>
                  <a href="#"><strong>Python Lab</strong> <br>9 am-10 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-3.jpg);"></div>
                  <a href="#"><strong>Microprocessor</strong> <br>9 am-10 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url();"></div>
                  <a href="#"><strong></strong> <br></a>
                </td>
              </tr>

<!-- day 2 -->

              <tr>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                  <a href="#"><strong>Probability</strong> <br>10 am-11 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                  <a href="#"><strong>Probability</strong> <br>10 am-11 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-5.jpg);"></div>
                  <a href="#"><strong>Data Structure</strong> <br>10 am-11 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-7.jpg);"></div>
                  <a href="#"><strong>Python Lab</strong> <br>10 am-11 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-6.jpg);"></div>
                  <a href="#"><strong>Soft Skill</strong> <br>10 am-11 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-4.jpg);"></div>
                  <a href="#"><strong>Probability</strong> <br>10 am-11 am</a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url();"></div>

                </td>
              </tr>
              <tr>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-2.jpg);"></div>
                  <a href="#"><strong>Software Engineering</strong> <br>12 pm-1 pm </a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-1.jpg);"></div>
                  <a href="#"><strong>Computer Network</strong> <br>12 pm-1 pm </a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-3.jpg);"></div>
                  <a href="#"><strong>Microprocessor</strong> <br>12 pm-1 pm </a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-2.jpg);"></div>
                  <a href="#"><strong>Software Engineering</strong> <br>12 pm-1 pm </a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-3.jpg);"></div>
                  <a href="#"><strong>Microprocessor</strong> <br>12 pm-1 pm </a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url(images/classes-3.jpg);"></div>
                  <a href="#"><strong>Microprocessor</strong> <br>12 pm-1 pm </a>
                </td>
                <td class="text-center"><div class="img rounded-circle mb-2" style="background-image: url();"></div>

                </td>
              </tr>
              

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</section>










  <!--footer-->

  <p class="copyright">
    &copy; 2022 - <span>Hogwarts University</span> All Rights Reserved.
  </p>
</main>

<script src="js/dashboard.js"></script>
<script src="js/timetable/jquery.min.js"></script>
<script src="js/timetable/popper.js"></script>
<script src="js/timetable/bootstrap.min.js"></script>
<script src="js/timetable/main.js"></script>

  <script>
  // $(document).ready(function(){
    // 	$('div#loading').removeAttr('id');
  // });
  var preloader = document.getElementById("Loading");
  // window.addEventListener('load', function(){
  // 	preloader.style.display = 'none';
  // 	})

  function myfung(){
    preloader.style.display = 'none';
  };
  </script>

  </body>
</html>
