<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feedback</title>

  <!--Bootstrap-->

    <link rel="stylesheet" href="css/style9.css">


  <!--boxicons-->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>


  <!--Icon-->
  <link rel="icon" href="images/Web.ico">
  </head>



  <body onload="myfung()">

  <div id="Loading">

  </div>
<!-- nav start -->

<nav>
  <div class="sidebar-top" style="
  margin-bottom: 20px;
">
    <span class="shrink-btn">
      <i class='bx bx-chevron-left'></i>
    </span>
    <img src="./images/Logo.png" class="logo" alt="">
    <h3 class="hide" style="padding-left: 0px;margin-left: 38px;" >HUMS</h3>
  </div>



  <div class="sidebar-links">
    <ul>
      <div class="#"></div>
      <li>
        <a href="Dashboard-teacher">
          <div class="icon">
            <i class='bx bx-tachometer'></i>
            <i class='bx bxs-tachometer'></i>
          </div>
          <span class="link hide">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="Profile-teacher" >
          <div class="icon">
            <i class='bx bx-folder'></i>
            <i class='bx bxs-folder'></i>
          </div>
          <span class="link hide">Profile</span>
        </a>
      </li>
      <li>
        <a href="Grade-teacher" >
          <div class="icon">
            <i class='bx bx-bar-chart-square'></i>
            <i class='bx bxs-bar-chart-square'></i>
          </div>
          <span class="link hide">Grades</span>
        </a>
      </li>
      <li>
        <a href="Timetable-teacher" >
          <div class="icon">
            <i class='bx bx-notepad'></i>
            <i class='bx bxs-notepad'></i>
          </div>
          <span class="link hide">Time Table</span>
        </a>
      </li>


      <h4 class="hide">Teacher Care</h4>

    <ul>

      <li>
        <a href="Help-teacher">
          <div class="icon">
            <i class='bx bx-help-circle'></i>
            <i class='bx bxs-help-circle'></i>
          </div>
          <span class="link hide">Help</span>
        </a>
      </li>
      <li>
        <a href="Feedback-teacher"  class="active">
          <div class="icon">
            <div class="icon">
              <i class='bx bx-message-square-detail'></i>
              <i class='bx bxs-message-square-detail'></i>
            </div>
          </div>
          <span class="link hide">Feedback</span>
        </a>
      </li>


  <div class="sidebar-footer">
    <a href="#" class="account tooltip-element">
      <i class='bx bx-user'></i>
    </a>
    <div class="admin-user tooltip-element" style="
    margin-top: 80px;
">
      <div class="admin-profile hide">
        <img src="./images/ppl.png" alt="">
        <div class="admin-info">
          <h3><%=Teacher.name%></h3>
          <h5>Teacher</h5>
        </div>
      </div>
      <a href="/logout" class="log-out">
        <i class='bx bx-log-out'></i>
      </a>
    </div>
  </div>
</nav>
<!--Main Start-->
<main>
<h1>Feedback</h1>

<section>
  <div class="profile">
      <div class="profile-img">
          <img src="./images/Logo.png" alt="">
      </div>
      <span class="name">Team HUMS</span>
      <span class="profession">Web Designer & Devloper</span>
      <div id="hireBtn" class="button">
          <i class="bx bxs-envelope"></i>
          <button>report/feedback</button>
      </div>
  </div>

  <!-- popup box start -->
  

  <div class="popup-outer">
      <div class="popup-box">
          <i id="close" class="bx bx-x close"></i>
          <div class="profile-text">
              <img src="./images/Logo.png" alt=""> 
              <div class="text">
                  <span class="name">Team HUMS</span>
                   <span class="profession">Web Designer & Devloper</span>
              </div>
          </div>
          <form action="mailto:atanumax2@gmail.com" method="post" enctype="text/plain">
              <textarea spellcheck="false" name="massage" placeholder="Enter your message"></textarea>
              <div class="button">
                  <button id="close" class="cancel">Cancel</button>
                  <button class="send">Send</button>
              </div>
          </form>
      </div>
  </div>

</form>

</section>

<script>
  const section = document.querySelector("section"),
hireBtn = section.querySelector("#hireBtn"),
closeBtn = section.querySelectorAll("#close"),
textArea = section.querySelector("textarea");

hireBtn.addEventListener("click" , () =>{
  section.classList.add("show");
});

closeBtn.forEach(cBtn => {
  cBtn.addEventListener("click" , ()=>{
      section.classList.remove("show");
      textArea.value = "";
  });
});
</script>









  <!--footer-->

  <p class="copyright">
    &copy; 2022 - <span>Hogwarts University</span> All Rights Reserved.
  </p>
</main>

  <script src="js/dashboard.js"></script>


  <script>
  // $(document).ready(function(){
    // 	$('div#loading').removeAttr('id');
  // });
  var preloader = document.getElementById("Loading");
  // window.addEventListener('load', function(){
  // 	preloader.style.display = 'none';
  // 	})

  function myfung(){
    preloader.style.display = 'none';
  };
  </script>

  </body>
</html>
