<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hogwarts University</title>
    <!--Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style1.css" />
    <!-- CSS-Sid -->
    <link rel="stylesheet" href="css/style3.css">
    <!--Font awsome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!--Icon-->
    <link rel="icon" href="images/Web.ico" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
</head>
<body onload="myfung()">

  <div id="Loading">

  </div>


    <!-- Nav Bar -->

<div class="navbar_io" >

    <nav class="navbar navbar-expand-lg navbar-dark nav">

      <a class="navbar-brand" href="/" style="padding-top: 0px;margin-top: 40px;margin-bottom: 0px;padding-bottom: 0px;margin-left: 230px;">
        Hogwarts University</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ms-auto">
          <ul class="navbar-nav" style="margin-top: 40px;margin-right: 230px;">
            <li class="nav-item">
              <a class="nav-link" href="Contact">Contact</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                >About</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="University">University</a></li>
                <li><a class="dropdown-item" href="Developer">Developer</a></li>
                <li>
                  <a class="dropdown-item" href="#">Separated link</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                >Login</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="Student-login">Student</a></li>
                <li><a class="dropdown-item" href="teacher-login">Teacher</a></li>
                <li><a class="dropdown-item" href="admin-login">Admin</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Separated link</a>
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </div>
      </div>
    </nav>
<!--data-->
<div class="container-fluid">

    <section class="section-hero">
      <div>
        <p class="branch-text"><a href="index.html">Home</a> / University</p>
      </div>

      <div class="col-lg-6 ">
        <img class="Title-image" src="images/Logo.png" alt="background" style="margin-left: 370px;" >
      </div>


      <div class="hero">
        <div class="heading-box">
          <p class="heading-text">The Hogwarts community is driven by a shared purpose: to make a better world through education, reseach, and innovation. We are fun and quirky, elite but not elitist, inventive and artistic, obsessed with numbers, and welcoming to talented people regardless of where they come from.</p>
        </div>
        <div class="grid secondary-box">
          <div>
            <h2 class="secondary-text" > Founded to accelerate the nation's industrial revolution, HU is profoundly American. With ingenuity and drive, our graduates have invented fundamental technologies, launched new industries, and created millions of American jobs. At the same time, and without the slightest sense of contradiction, HU is profoundly global. Our community gains tremendous strength as a magnet for talent from around the world. Through teaching, research, and innovation, HU's exceptional community pursues its mission of service to the nation and the world.</h2>
          </div>
            <img class="secondary-img" src="../images/university/placeholder1.jpg" alt="">
        </div>
      </div>
    </section>
  </div>

  <div class="banner">
    <img src="../images/university/placeholder2.png" alt="" class="banner-img">
    <button class="banner-button">Get Started</button>
  </div>

  <article class="container-fluid">
    <hr>
    <div class="article-1 grid-article">
      <img src="../images/university/article-2.png" alt="" class="article-img">
      <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugit repellendus reprehenderit illum, nihil sit nisi. Mollitia ipsum, ipsam eaque esse nisi perspiciatis laboriosam.</p>
    </div>
    <hr>
    <div class="article-1 grid-article">
      <img src="../images/university/article-1.png" alt="" class="article-img">
      <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugit repellendus reprehenderit illum, nihil sit nisi. Mollitia ipsum, ipsam eaque esse nisi perspiciatis laboriosam.</p>
    </div>
    <hr>
    <div class="article-1 grid-article">
      <img src="../images/university/article-3.png" alt="" class="article-img">
      <p class="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis fugit repellendus reprehenderit illum, nihil sit nisi. Mollitia ipsum, ipsam eaque esse nisi perspiciatis laboriosam.</p>
    </div>
    <hr class="mb-36">
  </article>

  <footer id="footer">
  <hr>
    <p>© Copyright Hogwarts University</p>
    <p style="margin-bottom: 0px;">Hogwarts Castle, Highlands <br> Scotland, Great Britain<br>
    Helpline No. 8016976125,<br>
  (Mr. Atanu Bera)
  </p>
  </footer>
  <script>
    // $(document).ready(function(){
      // 	$('div#loading').removeAttr('id');
    // });
    var preloader = document.getElementById("Loading");
    // window.addEventListener('load', function(){
    // 	preloader.style.display = 'none';
    // 	})

    function myfung(){
      preloader.style.display = 'none';
    };
    </script>
</body>
</html>
